body{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: hsl(208, 12%, 32%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 40px;
    
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-style: bold;
    border : 2px solid hsl(244, 7%, 44%);
    border-radius: 10px;
    margin: 10px;
    width: 400px;

}
button[type = "submit"]{
    padding: 10px 20px;
    font-size: 2rem;
    font-style: bold;
    border : 2px solid hsl(244, 7%, 44%);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background-color: hsl(244, 7%, 44%);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
button[type = "submit"]:hover{
    background-color: hsl(244, 7%, 34%);
}
button[type = "submit"]:active{
    transform: scale(0.92);
}
.card{
    background: linear-gradient(100deg, hsl(22, 4%, 48%), hsl(200, 10%, 40%));
    padding: 50px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.5);
    border-radius: 10px;
    min-width: 500px;
    display : flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 25px;  
}
p{
    font-size: 2rem;
    margin: 5px 0px;   
}
.cityDisplay,.tempDisplay{
    font-size: 4rem;
    font-weight: bold;
    color :hsl(223, 9%, 15%);
    margin-bottom: 25px;  
}
.humidityDisplay{
    font-size: 2.5rem;
    color :hsl(227, 8%, 21%);
    margin-bottom: 20px; 
    font-weight: 500; 
}
.descDisplay{
    font-style: italic;
    font-size: 2rem;
    color :hsl(227, 7%, 24%);
    margin-bottom: 15px;
    font-weight: 400;
}

.weatherEmoji{
    margin : 0;
    font-size: 6rem;

}
.errorDisplay{
    font-size : 2rem;
    color :hsl(227, 8%, 21%);
    font-weight: 500;
}


